<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>所有简历信息</title>

<!-- CSS -->
<link rel="stylesheet"
	th:href="@{/http://fonts.googleapis.com/css?family=Roboto:400,100,300,500}">
<link rel="stylesheet"
	th:href="@{/static/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/form-elements.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">

<!--  easyUI-->
<link rel="stylesheet" th:href="@{/jquery-easyui-1.4.1/themes/gray/easyui.css}">
<link rel="stylesheet" th:href="@{/jquery-easyui-1.4.1/themes/icon.css}">
<script type="text/javascript"
	th:src="@{/jquery-easyui-1.4.1/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript"
	th:src="@{/js/vendor/jquery-1.11.2.min.js}"></script>
	<script type="text/javascript"
	th:src="@{/jquery-easyui-1.4.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{http://code.jquery.com/jquery-latest.js}"></script>
	<script type="text/javascript"  th:src="@{/jquery-easyui-1.4.1/jquery.easyui.min.js}"></script>
	<script type="text/javascript"  th:src="@{/jquery-easyui-1.4.1/easyloader.js}"></script>
	
<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="static/assets/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	th:href="@{/assets/ico/apple-touch-icon-144-precomposed.png}">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	th:href="@{/assets/ico/apple-touch-icon-114-precomposed.png}">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	th:href="@{/assets/ico/apple-touch-icon-72-precomposed.png}">
<link rel="apple-touch-icon-precomposed"
	th:href="@{/assets/ico/apple-touch-icon-57-precomposed.png}">

</head>

<body>

	<!-- Top content -->
	<div class="top-content">

		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text">
						<h1>所有简历信息</h1>
						<div class="description"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 form-box">
						<div class="form-top" style="height: 70%">
							<span>只展示用户对外公开的数据哦</span>
							<div class="form-top-right">
								<i class="fa fa-key"></i>
							</div>
						</div>
						<div id="tb" style="padding:3px">
										<span>产品ID</span>
										<input id="asin" style="line-height:26px;border:1px solid #ccc">
										<span>用户姓名:</span>
										<input id="reviewerName" style="line-height:26px;border:1px solid #ccc">
										<span>评论关键字:</span>
										<input id="keyWord" style="line-height:26px;border:1px solid #ccc">
										<a class="easyui-linkbutton" plain="true" onclick="doSearch()" id="serach" data-options="iconCls:'icon-search'">查找</a>
										<a class="easyui-linkbutton" plain="true" onclick="exportExcel()"
											id="serach" data-options="iconCls:'icon-sum'">导出excel</a>
						</div>
						<div class="form-bottom" style="height: 70%">
						<table id="tt" class="easyui-datagrid"
									style="width: 100%; height: auto" url="/resume/getResumeByKeywords"
									toolbar="#tb" title="建议列表" iconCls="icon-save" 
									rownumbers="true" pagination="true">
									<!--  工具栏-->
									
									<thead>
										<tr>
											<th field=id width="10%">简历ID</th>
											<th field="gender_title" width="5%">性别</th>
											<th field="degree_title" width="30%">学位</th>
											<th field="major" width="20%" align="center">专业</th>
											<th field="workExperienceListOb" width="40%"
											align:"center" formatter=operate_formatter>工作经历</th>
										</tr>
									</thead>
								</table>
						<div class="table-responsive">
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 添加操作 -->
		<div id="w" class="easyui-window" title="Modal Window"
			data-options="modal:true,closed:true,iconCls:'icon-save'"
			style="width: 300px; height: 300px; padding: 10px;">
			<form id="ff" method="post" action="addDuty">
				<table cellpadding="5">
					<tr>
						<td>值班人员:</td>
						<td><input class="easyui-textbox" type="text" name="name"
							data-options="required:true"></input></td>
					</tr>
					<tr>
						<td>值班地点</td>
						<td><input class="easyui-textbox" type="text" name="place"
							data-options="required:true"></input></td>
					</tr>
					<tr>
						<td>值班日期</td>
						<td><input class="easyui-datebox" type="text" name="date"
							data-options="required:true,validType:'date'"></input></td>
					</tr>

				</table>
			</form>
			<div style="text-align: center; padding: 5px">
				<a href="javascript:void(0)" class="easyui-linkbutton"
					onclick="submitForm()">提交</a> <a href="javascript:void(0)"
					class="easyui-linkbutton" onclick="clearForm()">重置</a>
			</div>
		</div>
		<!-- 添加操作 end-->
	</div>


	<!-- Javascript -->
	<script th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/jquery.backstretch.min.js}"></script>
	<script th:src="@{/assets/js/scripts.js}"></script>
	<script th:src="@{public/media/js/jquery-1.8.3.min.js}"></script>

	<!--[if lt IE 10]>
            <script src="static/assets/js/placeholder.js"></script>
        <![endif]-->
</body>

<script th:inline="javascript">
	//工作经历
	function operate_formatter(value, row, index) {
		/* console.log(value,row,index,typeof(row)); */
		var btn = "";
		for (var i in value) { 
		    btn += "<button onClick='openWorkModal("+JSON.stringify(value[i])+")' class='easyui-linkbutton'>"+value[i].position_name+"</button>"
		}
		//console.log(btn)
		return btn;
	}
	//打开模态框
	function openWorkModal(data){
		console.log(data)
		$('#w').window('open')
	}
	//导出excel
	function exportExcel(){
		$('#tt').datagrid('toExcel','dg.xls');	// export to excel
	}
	//用户搜索时触发
	function doSearch(){
		 $('#tt').datagrid('load',{
		//当所有代码执行完之后，当前表格会自动提交一份带参数的去后台
		asin: $('#asin').val(),
		reviewerName: $('#reviewerName').val(),
		keyWord: $('#keyWord').val(),
		
		});  
	}

	function formatter(value){
		var date = new Date(value);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        var d = date.getDate();
        return y + '-' +m + '-' + d;
	}

</script>

</html>